	<div class="jumbotron">
		<h1>Welcome to our Blog</h1>
	</div>

<% @articles.each do |article| %>
	<h1><%= article.title %></h1>
	<br>
	<p><%= article.content %></p>
	<small><%= article.author%></small>
<% end %>
